.col-article {
    width: 50%;
    h3 {
        font-size: 28px;
        color: rgb(44, 42, 42);
        padding-bottom: 30px;
    }
    img {
        border-radius: 6px;
    }
    p {
        padding: 30px 0;
        color: rgb(66, 65, 65);
        font-size: 15px;
    }
    h4 {
        color: $text-color-black;
        vertical-align: top;
    }
    // hr {
    //     margin-bottom: 50px;
    //     margin-top: 30px;
    //     border-bottom: 1px solid $background;
        
    // }

}
.flex {
    align-items: flex-start;
}

.article1{
    margin-right: 30px;
}
.article2{
    margin-left: 40px;
    div {
        margin-bottom: 50px;
        margin-top: 25px;
        border-bottom: 1px solid $background;
    }
}