.col-1-4 {
    width: 25%;
    h4{
        font-size: 3rem;
        font-weight: $font-weight;
    }
    
    p {
        padding-top: 20px;
        font-size: 14px;
        color: rgb(221, 214, 214);
    }
}

.data {
    background: $background;
    text-align: $text-align;
    padding: 50px 12px;
    color: $text-color-white;
}
.border-class {
    border-left: 1px solid $text-color-white;
}
