.header {
    // background: $background;
    background: transparent;
    padding: 20px 0;
    position: fixed;
    top: 0;
    right:0;
    left:0;
    
}
.logo {
    a {
        color: $text-color-white;
        text-decoration: none;
        border-right: 1px solid $text-color-white;
        padding-right: 20px;
        font-size: 1.4rem;
        font-weight: $font-weight;
    }
    span{
        color: $text-color-white;
        padding-left: 12px;
        font-weight: $font-weight;

    }
}
.nav-menu-item{
    a{
        text-decoration: none;
        margin-left: 32px;
        font-size: 1rem;
        color: $text-color-white;
        font-weight: $font-weight;
    }
    i{
        color: $text-color-white;
        padding-right: 6px;
    }
}
.nav-menu-dropdown-item {
    position: relative;
    
    
}
.sub-menu-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 25px;
    display: none;
    
}

.nav-menu-dropdown-item:hover .sub-menu-box {
    display: inline-block;
}
.sub-menu {
    background: $text-color-white;
    // border-radius: 6px;
    a{
        display: inline-block;
        margin: 8px 16px;;
        color:$text-color-black;
    }
    
}
// .sub-menu a {
    
// }

