/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.padding {
  padding: 80px 0;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.section-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.heading {
  font-size: 2rem;
  font-weight: 300;
  color: #313030;
}

.btn {
  padding: 12px 28px;
  color: #313030;
  text-transform: uppercase;
  border: none;
  border: 1px solid #313030;
  border-radius: 4px;
  background: transparent;
}

.header {
  background: transparent;
  padding: 20px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.logo a {
  color: #eee7e7;
  text-decoration: none;
  border-right: 1px solid #eee7e7;
  padding-right: 20px;
  font-size: 1.4rem;
  font-weight: 300;
}
.logo span {
  color: #eee7e7;
  padding-left: 12px;
  font-weight: 300;
}

.nav-menu-item a {
  text-decoration: none;
  margin-left: 32px;
  font-size: 1rem;
  color: #eee7e7;
  font-weight: 300;
}
.nav-menu-item i {
  color: #eee7e7;
  padding-right: 6px;
}

.nav-menu-dropdown-item {
  position: relative;
}

.sub-menu-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 25px;
  display: none;
}

.nav-menu-dropdown-item:hover .sub-menu-box {
  display: inline-block;
}

.sub-menu {
  background: #eee7e7;
}
.sub-menu a {
  display: inline-block;
  margin: 8px 16px;
  color: #313030;
}

.hero {
  background: url("./assets/media/hero.jpg");
  background-attachment: fixed;
  text-align: center;
  color: #eee7e7;
  padding: 120px 0;
}
.hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero div h1 {
  font-size: 3rem;
  font-weight: 300;
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee7e7;
}
.hero div button {
  margin: 60px 0;
  padding: 16px 56px;
  text-transform: uppercase;
  background: transparent;
  color: #eee7e7;
  font-weight: 400;
  border-radius: 4px;
  border: none;
  border: 1px solid #eee7e7;
}
.hero div i {
  font-size: 40px;
  color: #E98579;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  background: #eee7e7;
}

.primary {
  align-items: flex-start;
}
.primary .outer-col1 {
  width: 30%;
}
.primary .outer-col2 {
  width: 65%;
  padding: 0 20px;
}
.primary .primary-image img {
  border-radius: 6px;
}
.primary .primary-content .col-1-2 {
  width: 50%;
}
.primary .primary-content .col-1-2 div {
  padding: 20px;
}
.primary .primary-content .col-1-2 div h5 {
  color: #E98579;
  font-weight: 400;
  font-size: 20px;
}
.primary .primary-content .col-1-2 div p {
  color: #313030;
  padding: 16px 0;
  font-weight: 300;
  font-size: 15px;
}
.primary .primary-content .col-1-2 .inner-col1 {
  border-right: 1px solid #c9c5c5;
}
.primary .primary-content .col-1-2 .upper-part {
  border-bottom: 1px solid #c9c5c5;
}

.flex-primary {
  display: flex;
}
.flex-primary i {
  margin-right: 20px;
  font-size: 28px;
  color: #E98579;
}

.col-1-4 {
  width: 25%;
}
.col-1-4 h4 {
  font-size: 3rem;
  font-weight: 300;
}
.col-1-4 p {
  padding-top: 20px;
  font-size: 14px;
  color: #ddd6d6;
}

.data {
  background: #E98579;
  text-align: center;
  padding: 50px 12px;
  color: #eee7e7;
}

.border-class {
  border-left: 1px solid #eee7e7;
}

.details {
  border: 1px solid #d8d5d5;
  padding: 60px 0;
}
.details div {
  padding: 0 40px;
}
.details div img {
  border-radius: 6px;
}
.details div h3 {
  font-size: 2rem;
  color: #313030;
}
.details div p {
  font-size: 14px;
  color: #5e5959;
  padding: 30px 0;
}

.links button {
  background: #f5f1f1;
  padding: 20px 28px;
  border: none;
  border: 1px solid #d8d5d5;
  font-size: 18px;
  color: #313030;
  cursor: pointer;
}
.links button:hover {
  color: tomato;
}

.col1-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  padding: 80px 0;
  background-image: url("./assets/media/portfolio1.jpg");
  background-repeat: no-repeat;
}
.col1-2 h3 {
  font-size: 32px;
  color: #eee7e7;
  padding: 40px 0;
}
.col1-2 h5 {
  color: #E98579;
  padding-top: 30px;
}
.col1-2 p {
  color: #eee7e7;
  font-size: 15px;
}
.col1-2 i {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #E98579;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee7e7;
  font-size: 30px;
}

.col-article {
  width: 50%;
}
.col-article h3 {
  font-size: 28px;
  color: #2c2a2a;
  padding-bottom: 30px;
}
.col-article img {
  border-radius: 6px;
}
.col-article p {
  padding: 30px 0;
  color: #424141;
  font-size: 15px;
}
.col-article h4 {
  color: #313030;
  vertical-align: top;
}

.flex {
  align-items: flex-start;
}

.article1 {
  margin-right: 30px;
}

.article2 {
  margin-left: 40px;
}
.article2 div {
  margin-bottom: 50px;
  margin-top: 25px;
  border-bottom: 1px solid #E98579;
}

.footer {
  background: #E98579;
}

.col-mail {
  width: 60%;
}

.col-contact {
  width: 40%;
}
.col-contact h3 {
  padding-bottom: 20px;
  font-size: 28px;
  color: #eee7e7;
}

.form textarea {
  padding: 10px 8px;
  display: block;
  width: 100%;
  margin-top: 30px;
  border-radius: 6px;
  background: transparent;
  font-weight: 200;
  border: 0.5px solid #d8b2b2;
}
.form textarea::placeholder {
  color: #d8b2b2;
  font-size: 20px;
}
.form input {
  display: inline-block;
  width: 48.7%;
  padding: 15px 8px;
  background: transparent;
  border: 0.5px solid #d8b2b2;
  border-radius: 6px;
}
.form input::placeholder {
  color: #d8b2b2;
  font-size: 18px;
}
.form legend {
  font-size: 28px;
  color: #eee7e7;
  padding-bottom: 20px;
}

.input-mail {
  margin-left: 15px;
}

.form-button {
  margin-top: 20px;
  color: #d8b2b2;
  border: 0.5px solid #d8b2b2;
}

.flex-footer {
  display: flex;
  color: #eee7e7;
  font-weight: 300;
}

.edit-contact-margin {
  margin-left: 12px;
  margin-bottom: 40px;
}

.contact-icons i {
  color: #eee7e7;
  margin-right: 20px;
  border: 1px solid white;
  padding: 12px;
  border-radius: 4px;
}

.footer-last {
  padding: 40px 0;
  text-align: center;
}
.footer-last div {
  border: 0.3px solid #d8b2b2;
}
.footer-last small {
  display: inline-block;
  color: #d8b2b2;
  font-size: 13px;
  padding-top: 60px;
}

/*# sourceMappingURL=main.css.map */
