.details {
  border: 1px solid rgb(216, 213, 213);
  padding: 3.75rem 0;
  div {
    padding: 0 2.5rem;
    img {
      border-radius: 6px;
    }
    h3 {
      font-size: 2rem;
      color: $text-color-black;
    }
    p {
      font-size: 0.875rem;
      color: rgb(94, 89, 89);
      padding: 1.875rem 0;
    }
  }
}
.col {
  width: 50%;
}
.links {
  button {
    background: rgb(245, 241, 241);
    padding: 1.25rem 1.75rem;
    border: none;
    border: 1px solid rgb(216, 213, 213);
    font-size: 1.125rem;
    color: $text-color-black;
    font-weight: 300;
    cursor: pointer;
    outline: 0;
    margin-bottom: -2px;
    outline: 0;
  }
}
.btn-focus {
  padding-top: 2rem !important;
  border-bottom: 0 !important;
  background: white !important;
  margin-bottom: -1px !important;
  color: $background !important;
}

.consequat {
  display: none;
}
.feugiat {
  display: none;
}

//media query

@media screen and (max-width: 768px) {
  .details {
    padding: 2rem 0;
    div {
      padding: 0;
    }
  }
  .col {
    width: 100%;
    margin-bottom: 4rem;
    margin: 0 1.5rem;
    button {
      margin-bottom: 1rem;
    }
  }
  .details-content {
    text-align: center;
    order: 1;
    h3 {
      padding-top: 1.5rem;
    }
  }
  .links {
    button {
      width: 33.33%;
    }
  }
}
