// general
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    border-top: 8px solid $background;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.padding{
    padding: 5rem 0;
}
.wrapper {
    max-width: 600px;
    margin: 0 auto;
}
.section-wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
.heading {
    font-size: 2rem;
    font-weight: $font-weight;
    color: $text-color-black;

}
.btn {
    padding: 12px 28px;;
    color: $text-color-black;
    text-transform: uppercase;
    border: none;
    border: 1px solid $text-color-black;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    &:hover {
        background: (rgba($color: rgb(226, 106, 36), $alpha: 0.1))
    }
}
.image-responsive {
    width: 100%;
    height: auto;
}


@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
    .flex {
        flex-wrap: wrap;
    }
    .section-wrapper {
        padding: 7.5rem 1rem;
    }
    .btn {
        width: 90%;
        margin: 0 1.5rem;
    }
}