/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  border-top: 8px solid #e98579;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.padding {
  padding: 5rem 0;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.section-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 2rem;
}

.heading {
  font-size: 2rem;
  font-weight: 300;
  color: #313030;
}

.btn {
  padding: 12px 28px;
  color: #313030;
  text-transform: uppercase;
  border: none;
  border: 1px solid #313030;
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
}
.btn:hover {
  background: rgba(245, 241, 241, 0.5);
}

.image-responsive {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .flex {
    flex-wrap: wrap;
  }

  .btn {
    width: 90%;
    margin: 0 1.5rem;
  }
}
.header {
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: all 0.4s;
}

.header-background {
  background: #eb8f83;
}

.logo a {
  color: white;
  text-decoration: none;
  border-right: 1px solid white;
  padding-right: 1.25rem;
  font-size: 1.4rem;
  font-weight: 300;
}
.logo a:hover {
  color: #e98579;
}
.logo span {
  color: white;
  padding-left: 0.75rem;
  font-weight: 300;
}

.nav-menu-item a {
  padding-bottom: 0.2rem;
  text-decoration: none;
  margin-left: 2rem;
  font-size: 1rem;
  color: white;
  font-weight: 300;
}
.nav-menu-item a.active {
  border-bottom: 1px solid #e98579;
}
.nav-menu-item a:hover {
  border-bottom: 1px solid #e98579;
}
.nav-menu-item i {
  color: white;
  padding-right: 0.4rem;
}

.nav-menu-item-dropdown {
  position: relative;
}

.dropdown-sub-menu-box {
  width: 150px;
  position: absolute;
  left: 50%;
  transform: translateX(-55%);
  padding-top: 2rem;
  background: none;
  display: none;
}

.nav-menu-item-dropdown:hover .dropdown-sub-menu-box {
  display: inline-block;
}

.dropdown-sub-menu {
  background: white;
  padding: 0.5rem 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.dropdown-sub-menu a {
  font-size: 0.9rem;
  display: inline-block;
  margin: 0.5rem 0.5rem 0.5rem 1rem;
  color: #313030;
}
.dropdown-sub-menu a:hover {
  color: white;
}

.dropdown-sub-menu-item {
  border-bottom: 1px solid rgba(90, 83, 83, 0.4);
}
.dropdown-sub-menu-item:hover {
  background: #e98579;
  cursor: pointer;
}
.dropdown-sub-menu-item:last-child {
  border: 0;
}

.submenu-box {
  width: 150px;
  padding: 0.5rem 0;
  position: absolute;
  top: 74.5%;
  background: white;
  transform: translateX(-100%);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: none;
}

.dropdown-sub-menu-last-item:hover .submenu-box {
  display: block;
}

.submenu-item {
  border-bottom: 1px solid rgba(90, 83, 83, 0.4);
}
.submenu-item:hover {
  background: #e98579;
}
.submenu-item:last-child {
  border: 0;
}

#toggle,
.bars {
  display: none;
}

.caret-up {
  margin: -22px !important;
  margin-left: 5.5rem !important;
  font-size: 2.2rem !important;
}

.flex-ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .flex-ul {
    flex-direction: column;
  }

  .logo a {
    font-size: 1.4rem;
    color: white;
  }
  .logo span {
    font-size: 1rem;
  }

  .nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 20%;
    right: 0;
    bottom: 0;
    background: #1a1919;
    text-align: left;
    padding: 7rem 0 !important;
    padding-right: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .nav-menu a {
    font-weight: 500;
    display: inline-block;
    font-size: 1.5rem;
    padding: 1rem 0;
  }

  .nav-menu-item a.active {
    border-bottom: 0;
  }
  .nav-menu-item a.active:hover {
    color: #e98579;
  }
  .nav-menu-item a:hover {
    color: #e98579;
    border-bottom: 0;
  }

  .bars {
    display: inline-block;
    position: relative;
    z-index: 0;
    border: 0.5px solid white;
    color: white;
    border-radius: 4px;
    padding: 0.6rem 1.1rem;
  }
  .bars span {
    color: rfba(#fff, 0.8);
    margin-left: 0.4rem;
  }

  .close-menu {
    position: absolute;
    right: 10%;
    left: 80%;
    top: 3%;
    border: 0;
    color: #d8cbcb;
  }
  .close-menu i {
    font-size: 2rem;
  }

  #toggle:checked ~ .nav-menu {
    display: inline-block;
  }

  .logo {
    position: relative;
    z-index: 0;
  }

  .nav-menu-item-dropdown {
    position: static;
  }
  .nav-menu-item-dropdown i {
    display: none;
  }

  .nav-menu-item {
    border-bottom: 1px solid #3a3030;
  }

  .dropdown-sub-menu-box {
    position: static;
    display: block;
    transform: translateX(10%);
    width: 100%;
  }

  .dropdown-sub-menu {
    background: transparent;
    margin-top: -3.5rem;
  }
  .dropdown-sub-menu a {
    color: #fff;
    font-weight: 300;
  }

  .dropdown-sub-menu-item:hover {
    background: transparent;
  }
  .dropdown-sub-menu-item a:hover {
    color: #e98579;
  }
  .dropdown-sub-menu-item:first-child {
    border-top: 1px solid #3a3030;
    margin-top: 1.5rem;
  }

  .submenu-box {
    width: 100%;
    position: static;
    display: block;
    transform: translateX(10%);
    background: transparent;
    margin-top: -1.5rem;
  }
  .submenu-box a {
    color: #fff;
    font-weight: 300;
  }

  .submenu-item:hover {
    background: transparent;
  }
  .submenu-item:hover a {
    color: #e98579;
  }
  .submenu-item:first-child {
    border-top: 1px solid #3a3030;
    margin-top: 1.5rem;
  }
  .submenu-item:last-child {
    margin-bottom: -0.75rem;
  }

  .nav-menu {
    padding: 5rem 0;
  }
  .nav-menu a {
    padding: 0.5rem;
  }

  .container {
    padding: 1.2rem 1.5rem;
  }
}
.hero {
  background: url("../media/hero.jpg");
  text-align: center;
  color: white;
  padding: 7.5rem 0;
  background-size: cover;
}
.hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.hero div h1 {
  font-size: 3rem;
  font-weight: 300;
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid white;
  margin-bottom: 3.75rem;
}
.hero div button {
  cursor: pointer;
  padding: 1rem 3.5rem;
  text-transform: uppercase;
  background: transparent;
  color: white;
  font-weight: 400;
  border-radius: 4px;
  border: none;
  border: 1px solid white;
}
.hero div button:hover {
  background: rgba(255, 255, 255, 0.1);
}
.hero div i {
  font-size: 2.5rem;
  color: #e98579;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  background: white;
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 5.5rem 0;
  }
  .hero div h1 {
    font-size: 2.5rem;
  }
}
.primary {
  align-items: flex-start;
}
.primary .outer-col1 {
  width: 30%;
}
.primary .outer-col2 {
  width: 70%;
  padding-left: 3rem;
}

.primary-image img {
  border-radius: 6px;
}

.col-1-2 {
  width: 50%;
}
.col-1-2 div {
  padding: 1.25rem 0;
}
.col-1-2 div h5 {
  color: #e98579;
  font-weight: 400;
  font-size: 1rem;
}
.col-1-2 div p {
  color: #313030;
  padding: 0.5rem 0;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.6;
}
.col-1-2:nth-child(even) {
  padding-left: 2rem;
  padding-right: 3rem;
}
.col-1-2 .primary-text {
  padding-left: 1rem;
}

.inner-col1 {
  border-right: 1px solid #c9c5c5;
  padding-right: 4rem;
}

.upper-part {
  margin-top: 2rem;
  border-bottom: 1px solid #c9c5c5;
}

.flex-primary {
  display: flex;
}
.flex-primary i {
  font-size: 1.5rem;
  color: #e98579;
}

@media screen and (max-width: 768px) {
  .primary .outer-col1 {
    width: 100%;
  }
  .primary .outer-col2 {
    width: 100%;
    padding: 0 1.25rem;
  }

  .col-1-2 {
    width: 100%;
  }
  .col-1-2:nth-child(even) {
    padding-left: 0;
  }
  .col-1-2:nth-child(3) {
    border-bottom: 1px solid #c9c5c5;
  }

  .inner-col1 {
    border-right: 0 !important;
    padding-right: 0;
  }

  .primary-image {
    display: flex;
    order: 1;
    padding-top: 1.5rem;
  }
}
.col-1-4 {
  width: 25%;
  border-right: 1px solid white;
  padding: 0 0.75rem;
}
.col-1-4 h4 {
  font-size: 3rem;
  font-weight: 300;
}
.col-1-4 p {
  padding-top: 1.25rem;
  font-size: 0.875rem;
  color: #f8d7d2;
}
.col-1-4:last-child {
  border-right: 0;
}

.data {
  background: #e98579;
  text-align: center;
  padding: 0 2rem;
  color: white;
}

@media screen and (max-width: 768px) {
  .col-1-4 {
    width: 100%;
    border: 0;
    border-bottom: 1px solid white;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
  }
  .col-1-4:first-child {
    margin-top: 0;
  }

  .data {
    background: #e98579;
    text-align: center;
    padding: 0;
    color: white;
  }
}
.details {
  border: 1px solid #d8d5d5;
  padding: 3.75rem 0;
}
.details div {
  padding: 0 2.5rem;
}
.details div img {
  border-radius: 6px;
}
.details div h3 {
  font-size: 2rem;
  color: #313030;
}
.details div p {
  font-size: 0.875rem;
  color: #5e5959;
  padding: 1.875rem 0;
}

.col {
  width: 50%;
}

.links button {
  background: #f5f1f1;
  padding: 1.25rem 1.75rem;
  border: none;
  border: 1px solid #d8d5d5;
  font-size: 1.125rem;
  color: #313030;
  font-weight: 300;
  cursor: pointer;
  outline: 0;
  margin-bottom: -2px;
}

.btn-focus {
  padding-top: 2rem !important;
  border-bottom: 0 !important;
  background: white !important;
  margin-bottom: -1px !important;
  color: #e98579 !important;
}

.consequat {
  display: none;
}

.feugiat {
  display: none;
}

@media screen and (max-width: 768px) {
  .details {
    padding: 2rem 0;
  }
  .details div {
    padding: 0;
  }

  .col {
    width: 100%;
    margin-bottom: 4rem;
    margin: 0 1.5rem;
  }
  .col button {
    margin-bottom: 1rem;
  }

  .details-content {
    text-align: center;
    order: 1;
  }
  .details-content h3 {
    padding-top: 1.5rem;
  }

  .links button {
    width: 33.33%;
  }
}
.col1-2 {
  width: 50%;
  text-align: center;
  padding: 7.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col1-2:first-child {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("../media/portfolio1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.col1-2:last-child {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/portfolio2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.col1-2 h3 {
  font-size: 2rem;
  font-weight: 300;
  color: white;
  padding: 2.5rem 0;
}
.col1-2 h5 {
  color: #e98579;
  padding-top: 1.5rem;
}
.col1-2 p {
  color: white;
  font-size: 0.9rem;
}
.col1-2 i {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #e98579;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.875rem;
}

@media screen and (max-width: 768px) {
  .col1-2 {
    width: 100%;
  }
}
.col-article {
  width: 50%;
}
.col-article h3 {
  font-size: 1.75rem;
  color: #2c2a2a;
  padding-bottom: 1.875rem;
}
.col-article img {
  border-radius: 6px;
}
.col-article p {
  padding: 1.875rem 0;
  color: #424141;
  font-size: 0.9375rem;
}
.col-article h4 {
  color: #313030;
  vertical-align: top;
  padding-top: 0.625rem;
}

.flex {
  align-items: flex-start;
}

.article1 {
  padding-right: 1.875rem;
}

.article2 {
  padding-left: 2.5rem;
}
.article2 p {
  padding: 0;
  padding-bottom: 2.25rem;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
}

progress[value]::-webkit-progress-value {
  background-color: #e98579;
}

@media screen and (max-width: 768px) {
  .col-article {
    width: 100%;
  }

  .flex {
    flex-wrap: wrap;
  }

  .article2 {
    margin-top: 5rem;
  }

  .article1 {
    margin-right: 0;
  }

  .article2 {
    margin-left: 0;
  }
}
.footer {
  background: #e98579;
}

.col-mail {
  width: 60%;
}

.col-contact {
  width: 40%;
}
.col-contact h3 {
  padding-bottom: 1.25rem;
  font-size: 1.75rem;
  color: white;
}

.form textarea {
  color: #f7f1f1;
  outline: 0;
  padding: 0.625rem 1rem;
  display: block;
  width: 100%;
  margin-top: 1.875rem;
  border-radius: 6px;
  background: transparent;
  font-weight: 200;
  border: 0.5px solid #f7cec8;
}
.form textarea::placeholder {
  color: #f7cec8;
  font-size: 1rem;
}
.form textarea:focus {
  border: 2px solid white;
}
.form input {
  outline: 0;
  color: #f7f0f0;
  display: inline-block;
  width: 48.7%;
  padding: 1rem 1rem;
  background: transparent;
  border: 0.5px solid #f7cec8;
  border-radius: 6px;
}
.form input::placeholder {
  color: #f7cec8;
  font-size: 1rem;
}
.form input:focus {
  border: 2px solid white;
}
.form legend {
  font-size: 1.75rem;
  color: white;
  padding-bottom: 1.25rem;
}

.form-button {
  margin-top: 1.25rem;
  color: white;
  border: 0.5px solid #f7f3f3;
}
.form-button:hover {
  background: rgba(255, 255, 255, 0.06);
}

.flex-footer {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 300;
  margin-bottom: 2rem;
}
.flex-footer:first-of-type {
  align-items: flex-start;
}

.edit-contact-margin {
  margin-left: 0.75rem;
  text-decoration: none;
  color: #f7f0f0;
}

.social-menu-item a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  margin-right: 1.25rem;
  border: 1px solid white;
  padding: 0.75rem;
  border-radius: 4px;
  text-decoration: none;
}
.social-menu-item a:hover {
  background: rgba(255, 255, 255, 0.08);
}

.footer-last {
  padding: 2.5rem 0;
  text-align: center;
}
.footer-last div {
  border: 0.3px solid #d8b2b2;
}
.footer-last small {
  display: inline-block;
  color: #d8b2b2;
  font-size: 0.82rem;
  padding-top: 3.75rem;
}

@media screen and (max-width: 768px) {
  .form input {
    width: 100%;
  }

  .col-contact {
    width: 100%;
  }

  .col-mail {
    width: 100%;
    margin-top: 5rem;
  }

  .flex-footer {
    flex-wrap: wrap;
  }

  .input-mail {
    margin-left: 0;
    margin-top: 2rem;
  }

  .form-button {
    width: 100%;
    margin: 0;
    margin-top: 2rem;
  }

  .footer-last {
    padding: 1rem 0;
  }
  .footer-last small {
    padding-top: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
